@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

body {
  background: #f9f6f6;
  font-family: 'Merienda', cursive;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;

}